@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-primary: "Roboto Mono", monospace;
  --font-secondary: "Paytone One", sans-serif;

  --color-white: #e8e8e8;
  --color-gold: rgb(220, 220, 16);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: rgba(17, 17, 17, 0.6);
  background-image: url(./public/images/space-bg.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  color: var(--color-white);
}

::selection {
    background-color: gray;
}

/************** TYPOGRAPHY ***********************/

.heading-primary {
  font-family: var(--font-secondary);
  font-size: 50px;
}

.heading-tertiary {
  font-family: var(--font-primary);
  font-size: 20px;
}

/**************** NAVIGATION ******************/

.header {
  height: 15vh;
  width: 100%;

  display: flex;
  align-items: center;
  

}

.nav {
  width: 100%;
  display: flex;
  padding: 40px;
}

.nav-list {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 500px;
  justify-content: space-between;
}

.nav-list__item {
  list-style: none;
}

.nav-list__link {
  color: var(--color-white);
  text-decoration: none;
  font-size: calc(125%);
  transition: all 0.3s;

  &:hover {
    color: #fff;
  }
}

/***************** SPLASH *****************/

.splash-main {
  display: flex;
  height: 85vh;
  overflow: hidden;
}

.splash {
  margin: auto;
  min-height: 175px;

  position: relative;
  top: -100px;
}

.splash-emphasis {
    color: var(--color-gold);
}

.splash-title {
    position: relative;
    z-index: 100;
}

.splash-sub-title {
  text-align: center;
  margin-bottom: 15px;
  
  & > * {
      transition: all .3s;
  }
}

.splash-explore {
  text-align: center;
}

.splash-btn {
  padding: 15px;
  border: none;
  border-radius: 4px;
  min-width: 150px;
  font-family: var(--font-secondary);
  font-weight: 800;
  transition: all 0.3s;
  cursor: pointer;

  transform: translateY(0) scale(1);
  background-color: var(--color-white);

  &:hover {
    background-color: #fff;
    transform: translateY(-2px) scale(1.01);
  }

    &:active {  
      transform: translateY(-1px) scale(1.01);
  }
}

.splash-moon {
  position: absolute;
  top: 0;
  left: -58px;
  transition: all 1s;
  animation: rotate 90s linear infinite;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  z-index: 0;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

.splash-title-hover {
    transition: all .5s ease-out;

    &:hover {
        color: var(--color-gold);
    }
}

.splash-emphasis .splash-title-hover:hover {
    color: #fff !important;
}

/************* SPLASH MEDIA QUERIES ***********************/

@media screen and (max-width: 1000px)  {
    .heading-primary {
        font-size: 35px;
    }

    .heading-tertiary {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px)  {
    .heading-primary {
        font-size: 30px;
    }

    .heading-tertiary {
        font-size: 15px;
    }

    .splash {
        top: -100px
    }

    .splash-moon {
        top: 500px;
        left: 50%;
    }

    .nav-list__link {
        font-size: 100%;
    }

    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotate(0) scale(.75);
        }
    
        50% {
            transform: translate(-50%, -50%) rotate(180deg) scale(.75);
        }
    
        100% {
            transform: translate(-50%, -50%) rotate(360deg) scale(.75);
        }
    }
}

@media screen and (max-width: 400px)  {
    .heading-primary {
        font-size: 25px;
    }

    .heading-tertiary {
        font-size: 13px;
    }
}

/****************** HOME *********************/

.home-main {
    height: 85vh;
    padding: 0 0 20px 0;
}

.home-container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;

    

    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: 
        "filters view"
        "filters view"
        "map map"
    ;
}

.home-grid-space {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(159, 159, 159, 0.288);
}

.home-filters {
    grid-area: filters;
}

.home-view {
    grid-area: view;
}

.home-map {
    grid-area: map;
    max-height: 400px;
}

@media screen and (max-width: 1500px) {
    .home-container {
        max-width: 1200px;
    }
}


@media screen and (max-width: 1300px) {
    .home-container {
        max-width: 1000px;
    }
}


@media screen and (max-width: 1100px) {
    .home-container {
        max-width: 800px;
    }
}


@media screen and (max-width: 800px) {
    .home-container {
        width: 100%;
        padding: 0 20px;
    
        gap: 10px;
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 4fr 2fr;
        grid-template-areas: 
            "filters view"
            "filters view"
            "map map"
        ;
    }

    .home-grid-space {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .home-container {
        width: 100%;
        padding: 0 5px;
    
        gap: 10px;
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 4fr 2fr;
        grid-template-areas: 
            "filters filters"
            "view view"
            "map map"
        ;
    }

}
